<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="Default" connectionString="Server=167.160.186.27;Database=BRGS_DEV;Network Library=DBMSSOCN;Initial Catalog=BRGS_DEV;User Id=brgs1;Password=2014roberto;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
