<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Server=45.148.165.119,21433;Database=BRGS1;Network Library=DBMSSOCN;Initial Catalog=BRGS1;User Id=brgs1;Password=2014roberto;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>		
		<add key="JobTabelaOPInterval" value="2" />
		<add key="ReportPath" value="C:\_Rodrigo\BRGS\src\BRGS.UI\Relatorios\OrdemPagamentoEmissao.rpt" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>