<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="ServiceError" fileName="${basedir}/logs/${shortdate}_ServiceError.log" layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-16" />
		<target xsi:type="File" name="ServiceInfo" fileName="${basedir}/logs/${shortdate}_ServiceInfo.log" layout="${longdate} ${uppercase:${level}} ${message}" encoding="UTF-16" />
	</targets>
	<rules>
		<logger name="ServiceLogger" minlevel="Error" writeTo="ServiceError" />
		<logger name="ServiceLogger" minlevel="Info" writeTo="ServiceInfo" />
	</rules>
</nlog>