USE [BRGS]
GO
/****** Object:  Table [dbo].[Multas]    Script Date: 10/07/2014 12:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Multas](
	[idMulta] [int] IDENTITY(1,1) NOT NULL,
	[idGravidade] [int] NULL,
	[Codigo] [varchar](10) NULL,
	[Desdobramento] [int] NULL,
	[Descricao] [varchar](200) NULL,
	[Infrator] [varchar](20) NULL,
	[Pontos] [int] NULL,
	[OrgaoCompetente] [varchar](50) NULL,
	[UnitTest] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Multas_Gravidade]    Script Date: 10/07/2014 12:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Multas_Gravidade](
	[idGravidade] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](30) NULL,
	[Valor] [decimal](18, 2) NULL,
	[UnitTest] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Multas] ON 

INSERT [dbo].[Multas] ([idMulta], [idGravidade], [Codigo], [Desdobramento], [Descricao], [Infrator], [Pontos], [OrgaoCompetente], [UnitTest]) VALUES (1, 6, N'501-0', 0, N'Dirigir veículo sem possuir CNH ou Permissão para Dirigir', N'Condutor', 7, N'ESTADUAL/RODOV', 0)
INSERT [dbo].[Multas] ([idMulta], [idGravidade], [Codigo], [Desdobramento], [Descricao], [Infrator], [Pontos], [OrgaoCompetente], [UnitTest]) VALUES (2, 8, N'502-9', 1, N'Dirigir veículo com CNH cassada', N'Condutor', 7, N'ESTADUAL/RODOV', 0)
INSERT [dbo].[Multas] ([idMulta], [idGravidade], [Codigo], [Desdobramento], [Descricao], [Infrator], [Pontos], [OrgaoCompetente], [UnitTest]) VALUES (3, 8, N'502-9', 2, N'Dirigir veículo com Permissão para Dirigir cassada', N'Condutor', 7, N'ESTADUAL/RODOV', 0)
GO
SET IDENTITY_INSERT [dbo].[Multas] OFF
SET IDENTITY_INSERT [dbo].[Multas_Gravidade] ON 

INSERT [dbo].[Multas_Gravidade] ([idGravidade], [Descricao], [Valor], [UnitTest]) VALUES (1, N'Leve', CAST(53.20 AS Decimal(18, 2)), 0)
INSERT [dbo].[Multas_Gravidade] ([idGravidade], [Descricao], [Valor], [UnitTest]) VALUES (2, N'Média', CAST(85.13 AS Decimal(18, 2)), 0)
INSERT [dbo].[Multas_Gravidade] ([idGravidade], [Descricao], [Valor], [UnitTest]) VALUES (3, N'Grave', CAST(127.69 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Multas_Gravidade] OFF
