<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Server=45.148.165.119,21433;Database=BRGS1;Network Library=DBMSSOCN;Initial Catalog=BRGS1;User Id=brgs1;Password=2014roberto;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>